@model List<_04_LIbreria.Models.Libro>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
    <a href="@Url.Action("AddForm", "MvcLibri")">Aggiungi Libro</a>
    @if (Model != null && Model.Any())
    {
        foreach (var libro in Model)
        {
            <div class="mb-4">
                <h2>@libro.Titolo</h2>
                <p>@libro.Autore</p>
                <p>@libro.Genere</p>
                <p>@libro.Prezzo</p>
                <a href="@Url.Action("Details", "MvcLibri", new { id = libro.Id })">Dettagli</a>
                <a href="@Url.Action("EditForm", "MvcLibri", new { id = libro.Id })">Modifica</a>
                <a href="@Url.Action("Delete", "MvcLibri", new { id = libro.Id })">Elimina</a>
            </div>
        }
    }
    else
    {
        <p>Nessun libro trovato</p>
    }
</div>
</body>
</html>
